<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="file1" filename="/skytorif/logs/crawler.log" bufferedIO="true" append="false">
			<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="edu.shu.nlp.skytorif.utils" level="debug" additivity="false">
	    	<AppenderRef ref="Console"/>
	    	<AppenderRef ref="file1"/>
	    </Logger>
		<Root level="debug">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>